body {
  padding-top: 75px;
}

#navbar-app-description {
	color: white;
}

.team {
	padding: 10px;
	border: 2px solid #e5e5e5;
	background: #f9f9f9;
	border-radius: 6px;
	margin-bottom: 20px;
	min-height: 105px;
	position: relative;
}

.team-crest {
	float: left;
	height: 80px;
	width: 80px;
}

.team-info {
	margin-left: 100px;
}

.team-name {
	color: #444;
	font-size: 40px;
	margin-top: 10px;
}

.team-market-value {
	text-transform: uppercase;
	color: #aaa;
	font-size: 25px;
	margin-left: 20px;
}

.team-favorite-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 40px;
	line-height: 40px;
}

.team-favorite-toggle.working {
	opacity: 0.3;
}

.team-players table {
	background-color: white;
}

.team-players .panel-group {
	margin-bottom: 0;
}
