{% extends "main.twig" %}

{% block content %}

	<h1>Premier League Teams</h1>

	<div id="teams">
	    {% include 'Teams/_teams_list.twig' with {'teams': favorites, 'isFavorite': true} %}
	    {% include 'Teams/_teams_list.twig' with {'teams': other, 'isFavorite': false} %}
    </div>

{% endblock %}
